
<div class="cart-container" *ngFor="let productQ of productsQuantity; let i=index">
    <ul>
<li>{{productQ.product.name}}</li>
<li>{{productQ.product.price}}</li>
</ul>
<img src="{{productQ.product.url}}" alt="{{productQ.product.description}}">
<input type="number" min="1" max="100" value="{{productsQuantity[i].quantity}}" [(ngModel)]="productsQuantity[i].quantity">
</div>
<p><b>Total:</b> {{total}}</p>
<form #form="ngForm">
    <p>Full Name</p>
    <input type="text" name="fullname" minlength="3" placeholder="(minimum 3 characters)" [(ngModel)]="fullname">
    <p>Address</p>
    <input type="text" name="address" required minlength="6" placeholder="(minimum 6 characters)" [(ngModel)]="address">
    <p>Credit card number</p>
    <input type="text" name="cardnumber" required minlength="16" maxlength="16"  placeholder="(16-digit number)" [(ngModel)]="cardnumber">
    <br>
    <a routerLink="/confirmation"><button [disabled]="form.invalid" class="btn btn-primary" (click)="passNameTotal(fullname, total)">Submit and Place Order</button></a>
</form>
<button class="btn btn-primary" (click)="clearCart()"> Clear all the cart items</button>
